body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(29, 28, 28);
    margin: 0;
}

.calculator {
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 320px;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 50px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    border: none;
    border-radius: 50%;
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.button.dark-gray {
    background-color: rgb(86, 86, 86);
    border-block-color: #333;
    color: #ffffff;
}

.button.orange {
    background-color: orange;
    color: #000000;
    font-size: 24px;
}

.button.ligth-gray {
    background-color: #d3d3d3;
    color: #212020;
}

.button.orange.calculate {
  grid-column: 4;
  grid-row: 5;
}
.button-wide {
  grid-column: 2;
  grid-row: 5;
}



